.project {
    font-size: 1.26rem;
    border: 1px solid #00f8f8;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    color: #00baba;
    transition: transform 0.2s linear;
  }

  .project__description {
    margin-top: 1em;
    background-position: left;
    background-size: 0% 100%;
    border-radius: 2px;
    font:size 14px;
    color: white;
    
  }
  
  .project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }
  
  .project__stack-item {
    /* margin: 0.5em; */
    margin-left: 0.6em; 
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }
  
  .icon {
    margin-left: 0.5em; 
    margin-bottom: 0.5em;
  }

  /* text animation */

  .content .project__description {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  
  .project__description:hover {
    background-position: right;
    background-size: 100% 100%;
  }

  /* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .project {
      font-size: 1rem; /* Adjust the font size for smaller screens */
      padding: 0.5em; /* Adjust the padding */
  }

  .project__stack {
      margin: 0.8em 0; /* Adjust the margin for the stack */
  }

  .project__stack-item {
      font-size: 0.7rem; /* Adjust the font size for stack items */
  }
}