@import url('https://fonts.googleapis.com/css?family=Roboto:700');



.intro-line {
  color: #e5e5e5;
  font-size: 2.26rem;
  /* text-shadow: 0 0 7px rgba(255, 255, 255, 0.3), 0 0 3px rgba(255, 255, 255, 0.3); */
}

.icon-container {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
    /* background: #A0C5E8; */
    padding: 10px 0;
  }

.icon {
  width: 42px;
  height: 42px;
}

.description {
    font-size: large;
    text-transform: none;
    line-height: 26px;
}

.description p{
  color: white;
}

.container {
  margin-top: 80px;
  color: #00baba;
  font-size: 2.26rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
  }

.animation {
  text-align: center;
  margin-top: 1rem;
  height: 50px;
  overflow: hidden;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}



.first div {
  background-color: #000000;
}

.second div {
  background-color: black;
}

.third div {
  background-color: #000000;
}

@keyframes text-animation {
  0% { margin-top: 0; }
  10% { margin-top: 0; }
  20% { margin-top: -5.62rem; }
  30% { margin-top: -5.62rem; }
  40% { margin-top: -11.24rem; }
  60% { margin-top: -11.24rem; }
  70% { margin-top: -5.62rem; }
  80% { margin-top: -5.62rem; }
  90% { margin-top: 0; }
  100% { margin-top: 0; }
}
