nav {
  background-color: #000000;
  border-bottom: 1px solid #00baba	;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  float: left;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.logo {
  float: right;
}

nav a:hover {
  background-color: #00FFBD;
  color: black;
}



@media screen and (max-width: 600px) {
  nav a {
      float: left;
      width: auto;
      text-align: center;
  }
  
}